<nav class="col-md-1 mx-5 navbar navbar-expand-lg" style="background-color: #222222 !important;">
    <ul class="navbar-nav text-center mx-auto d-block">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link mt-3">
                <i class="fas fa-home fa-2x">
                </i>
                <p class="i-text">Anasayfa</p>
            
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Home" asp-action="About" class="nav-link mt-3">
                <i class="fas fa-book fa-2x">
                </i>
                <p class="i-text">Hakkımda</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Contact" class="nav-link mt-3">
                <i class="fas fa-phone fa-2x"></i>
                <p class="i-text">İletişim</p>
            </a>
        </li>
        <li class="nav-item">
        <a asp-controller="Home" asp-action="Portfolyo" class="nav-link mt-3">
            <i class="fas fa-briefcase fa-2x"></i>
            <p class="i-text">Portfolyo</p>
        </a>    
        </li>
        
    </ul>
</nav>