<nav role="navigation" class="nav2">
    <i class="fas fa-bars fa-2x nav-icon"></i>
    <ul id="menu">
      <li>
        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
      </li>
      <li><a asp-controller="Home" asp-action="About">Hakkımda</a></li>
      <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
      <li><a asp-controller="Home" asp-action="Portfolyo">Portfolyo</a></li>
      

    </ul>

  </nav>