@model User
<div class="texts col-md-12 my-auto">
    <h1 class="my-auto">@Model.ShortAbout</h1><br>
    <a href = "mailto: cetinokmertcan@gmail.com"><p>Contact me:cetinokmertcan@gmail.com</p></a>
</div>